@model Engefibra.Data.Models.PessoaContato
@{
    Layout = null;
}
<div class="form-contato">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.PessoaId)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UsuarioCriacao)
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TelefoneFixo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TelefoneFixo)
                    @Html.ValidationMessageFor(model => model.TelefoneFixo)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ramal, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ramal)
                    @Html.ValidationMessageFor(model => model.Ramal)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Celular, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Celular)
                    @Html.ValidationMessageFor(model => model.Celular)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>