@model IEnumerable<Engefibra.Data.Models.PessoaContato>
@{
    Layout = null;
}

<div class="well">
    <script type="text/javascript">
        $(function () {
            $("#btnAdicionarContato").click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("AddOrUpdate","PessoaContato")',
                    type: 'GET',
                    success: function (datahtml) {
                        $("#modal-sistema-title").text("Pessoas - Contatos");
                        $(".modal-sistema-content").html(datahtml);

                        $("#modal-sistema").modal('show');
                    }
                });

                return false;
            });
        });
    </script>
    <p>
        @Html.ActionLink("Novo", "AddOrUpdate", null, new { id = "btnAdicionarContato", @class = "btn btn-success" })
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneFixo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ramal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefoneFixo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ramal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.ActionLink("Editar", "AddOrUpdate", new { id = item.Id }) |
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>