@model IEnumerable<Engefibra.Data.Models.VeiculoUtilizacao>

@{
    ViewBag.Title = "Utilização de veiculos";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-filter.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-locale-all.js"></script>
}

<h2>@ViewBag.Title</h2>
<p>Histórico e abertura de utilização de veiculos</p>
<p>
    @Html.ActionLink("Nova utilização", "AddOrUpdate", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover" data-toggle="table" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-show-filter="true">
    <thead>
        <tr>
            <th data-field="utilizador" data-sortable="true">Utilizador</th>
            <th data-field="veiculo" data-sortable="true">Veiculo</th>
            <th data-field="situacao" data-sortable="true">Situação do uso</th>
            <th data-field="destino" data-sortable="true">Destino</th>
            <th data-field="kmfinal" data-sortable="true">@Html.DisplayNameFor(model => model.KmFinal)</th>
            <th data-field="abastecimento" data-sortable="true">@Html.DisplayNameFor(model => model.Abastecimento)</th>
            <th data-field="acoes" data-sortable="true">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                </td>
                <td>
                    @item.Veiculo.Placa - @Html.DisplayFor(modelItem => item.Veiculo.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VeiculoUtilizacaoStatus.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KmFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abastecimento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "AddOrUpdate", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
