@model IEnumerable<Engefibra.Data.Models.EstoqueMovimento>

@{
    ViewBag.Title = "Index";
}

<h2>Movimentação de estoque</h2>
<p>Consulta/realizar movimentação de produtos dentro de um determinado estoque</p>

<p>
    @Html.ActionLink("Novo registro", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            Nome do Estoque
        </th>
        <th>
            Produto
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovimentoTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @(item.MovimentoTipo == -1 ? "Retirada" : "Entrada")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @item.DataCriacao.ToString("dd/MM/yyyy hh:mm")
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
