@model IEnumerable<Engefibra.Data.Models.Contato>

@{
    ViewBag.Title = "Index";
}

@section scripts {
<script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-table-filter.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-table-locale-all.js"></script>
}

<h2>Contatos</h2>
<p>Cadastro de contatos importantes para a empresa.</p>

<p>
    @Html.ActionLink("Novo registro", "AddOrUpdate", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-striped table-responsive table-list-search" data-toggle="table" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-show-filter="true">
    <thead>
        <tr>
            <th data-field="nome" data-sortable="true">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th data-field="referencia" data-sortable="true">
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th data-field="telefone" data-sortable="true">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th data-field="email" data-sortable="true">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th data-field="ativo" data-sortable="true">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th data-field="datacriacao" data-sortable="true">
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th data-field="datalteracao">
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th data-field="actions">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Referencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @item.DataCriacao.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.DataAlteracao.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.ActionLink("Editar", "AddOrUpdate", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
