@model Engefibra.Data.Models.Usuario
@{
    ViewBag.Title = "Remover usuário: " + Model.Login;
}
<h2>@ViewBag.Title</h2>
<h3>Você tem certeza que deseja fazer isto?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.CpfCnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.CpfCnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
