@model IEnumerable<Engefibra.Data.Models.Usuario>

@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários</h2>
<p>Cadastros dos usuários que utilizam o sistema.</p>

<p>
    @Html.ActionLink("Novo registro", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Remover", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
