@model IEnumerable<Engefibra.Data.Models.Usuario>

@{
    ViewBag.Title = "Usuários";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-filter.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-locale-all.js"></script>
}

<h2>Usuários</h2>
<p>Cadastros dos usuários que utilizam o sistema.</p>

<p>
    @Html.ActionLink("Novo registro", "AddOrUpdate", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped table-responsive" data-toggle="table" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-show-filter="true">
    <thead>
        <tr>
            <th data-field="Nome" data-sortable="true">
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
            </th>
            <th data-field="Login" data-sortable="true">
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th data-field="CpfCnpj" data-sortable="true">
                @Html.DisplayNameFor(model => model.Pessoa.CpfCnpj)
            </th>
            <th data-field="ativo" data-sortable="true">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th data-field="acoes" data-sortable="true">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.CpfCnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "AddOrUpdate", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
