@model List<Engefibra.Web.ViewModels.ProdutoViewModel>
@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>
<p>Cadastre os produtos da empresa.</p>

<p>
    @Html.ActionLink("Novo registro", "AddOrUpdate", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
           Nome
        </th>
        <th>
           Marca
        </th>
        <th>
          Fornecedor
        </th>
        <th>
          Código
        </th>
        <th>
          Saldo Atual
        </th>
        <th>
          Ativo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Produto.Nome
            </td>
            <td>
                @item.Produto.Marca
            </td>
            <td>
                @item.Produto.Fornecedor
            </td>
            <td>
                @item.Produto.CodFornecedor
            </td>
            <td>
                @item.Produto.CodFornecedor
            </td>
            <td>
                @Html.DisplayFor(model => item.Produto.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "AddOrUpdate", new { id = item.Produto.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Produto.Id }) |
                @Html.ActionLink("Remover", "Delete", new { id = item.Produto.Id })
            </td>
        </tr>
    }

</table>
