@model IEnumerable<Engefibra.Data.Models.Pessoa>
@{
    ViewBag.Title = "Pessoas";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-filter.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-locale-all.js"></script>
}

<h2>Cadastro de Pessoas</h2>
<p>Gerencie os cadastros de funcionários, fornecedores, clientes, prestadores de serviço nesta area.</p>
<p>
    @Html.ActionLink("Novo", "AddOrUpdate", null, new { id = "btnAdicionarContato", @class = "btn btn-success" })
</p>
<table class="table table-bordered table-striped" data-toggle="table" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-show-filter="true">
    <thead>
        <tr>
            <th data-field="Nome" data-sortable="true">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th data-field="Sobrenome" data-sortable="true">
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th data-field="Perfil" data-sortable="true">
                Perfil
            </th>
            <th data-field="PessoaFisica" data-sortable="true">
                @Html.DisplayNameFor(model => model.PessoaFisica)
            </th>
            <th data-field="RgIE" data-sortable="true">
                @Html.DisplayNameFor(model => model.RgIE)
            </th>
            <th data-field="CpfCnpj" data-sortable="true">
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th data-field="ObraNotificacao" data-sortable="true">
                @Html.DisplayNameFor(model => model.ObraNotificacao)
            </th>
            <th data-field="VeiculoNotificacao" data-sortable="true">
                @Html.DisplayNameFor(model => model.VeiculoNotificacao)
            </th>
            <th data-field="acoes" data-sortable="true">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaTipo.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaFisica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RgIE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpfCnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObraNotificacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VeiculoNotificacao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "AddOrUpdate", new { id = item.Id }) |
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
