@model Engefibra.Data.Models.Veiculo
@{
    ViewBag.Title = Model.Id > 0 ? "Editar veiculo: " + Model.Placa : "Adicionar veiculo";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddOrUpdate", "Veiculo"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal well">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @if (Model.Id > 0)
        {
            <div class="alert alert-success">
                <p><strong>Quilometragem atual do veiculo:</strong> @Model.KmAtual kms</p>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Placa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Placa)
                @Html.ValidationMessageFor(model => model.Placa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modelo)
                @Html.ValidationMessageFor(model => model.Modelo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnoFabricacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnoFabricacao)
                @Html.ValidationMessageFor(model => model.AnoFabricacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cor)
                @Html.ValidationMessageFor(model => model.Cor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marca, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marca)
                @Html.ValidationMessageFor(model => model.Marca)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KmInicial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KmInicial)
                @Html.ValidationMessageFor(model => model.KmInicial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Observacao, new { @style = "width: 100%; height: 200px;" })
                @Html.ValidationMessageFor(model => model.Observacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlertarManutencao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlertarManutencao)
                @Html.ValidationMessageFor(model => model.AlertarManutencao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlertarTrocaOleo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlertarTrocaOleo)
                @Html.ValidationMessageFor(model => model.AlertarTrocaOleo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VeiculoAlertaId, "Tipo do Alerta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VeiculoAlertaId", String.Empty)
                @Html.ValidationMessageFor(model => model.VeiculoAlertaId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="well">
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
