@model Engefibra.Data.Models.Veiculo
@{
    ViewBag.Title = "Deletar veiculo " + Model.Placa;
}

<h2>@ViewBag.Title</h2>
<h3>Tem certeza que deseja remover este veiculo?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VeiculoAlerta.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VeiculoAlerta.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KmInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KmInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertarManutencao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertarManutencao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertarTrocaOleo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertarTrocaOleo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para veiculos", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
