@model Engefibra.Data.Models.Veiculo

@{
    ViewBag.Title = "Detalhes do veiculo - PLACA " + Model.Placa;
}

<h2>@ViewBag.Title</h2>
<div>
    <div class="alert alert-success">
        <p><strong>Quilometragem atual do veiculo:</strong> @Model.KmAtual kms</p>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VeiculoAlerta.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VeiculoAlerta.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KmInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KmInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertarManutencao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertarManutencao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertarTrocaOleo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertarTrocaOleo)
        </dd>

    </dl>
</div>

<p class="well">
    @Html.ActionLink("Editar", "AddOrUpdate", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Voltar para veiculos", "Index", null, new { @class = "btn btn-primary" })
</p>
