@model IEnumerable<Engefibra.Data.Models.Veiculo>

@{
    ViewBag.Title = "Veiculos";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-filter.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-locale-all.js"></script>
}

<h2>Veiculos</h2>
<p>Frota de veiculos da empresa</p>

<p>
    @Html.ActionLink("Novo veiculo", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped table-responsive" data-toggle="table" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-show-filter="true">
    <thead>
        <tr>
            <th data-field="placa" data-sortable="true">
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th data-field="modelo" data-sortable="true">
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th data-field="AnoFabricacao" data-sortable="true">
                @Html.DisplayNameFor(model => model.AnoFabricacao)
            </th>
            <th data-field="Cor" data-sortable="true">
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th data-field="Marca" data-sortable="true">
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th data-field="VeiculoAlerta" data-sortable="true">
                @Html.DisplayNameFor(model => model.VeiculoAlerta.Nome)
            </th>
            <th data-field="KmInicial" data-sortable="true">
                @Html.DisplayNameFor(model => model.KmInicial)
            </th>
            <th data-field="AlertarManutencao" data-sortable="true">
                @Html.DisplayNameFor(model => model.AlertarManutencao)
            </th>
            <th data-field="AlertarTrocaOleo" data-sortable="true">
                @Html.DisplayNameFor(model => model.AlertarTrocaOleo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnoFabricacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KmInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VeiculoAlerta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlertarManutencao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlertarTrocaOleo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "AddOrUpdate", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
