@model Engefibra.Data.Models.Estoque
@{
    ViewBag.Title = "Criação de Estoque";
}

<h2>Novo estoque</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cadastro</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome)
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Ativo, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ativo)
                        @Html.ValidationMessageFor(model => model.Ativo)
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" value="Criar novo estoque" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="well">
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
