@model Engefibra.Data.Models.VeiculoManutencaoHistorico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VeiculoManutencaoHistorico</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VeiculoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VeiculoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KmAtual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KmAtual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManutencaoRealizada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManutencaoRealizada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConfirmacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConfirmacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNotificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNotificacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
